section {
    display: grid;
    height: 100vh;
    place-items: center;
    width: 100vw;
    align-content: center;
    margin: auto;
}

.heymom {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;

  background: linear-gradient(to right, rgb(168, 65, 65) 50%, rgb(48, 154, 126) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.heymom:hover {
    background-position: bottom ;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
