.navBar {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin: 0 2rem;
    overflow: hidden;
    .logo {
        margin: 1rem;
        color: #f1f1f1;
        &:hover{
            cursor: pointer;
            color: #808080;
            transition: 0.5s;
        }
    }
    .menuBar {
        margin: 1rem;
        li {
            display: inline;
        }
        a {
            margin: 0 0.5rem;
            color: #808080;
            text-decoration: none;
            &:hover {
                color: #f1f1f1;
                transition: all 0.5s;
            }
        }
    }
}
@media all and (max-width: 900px) {
    .navBar {
        transform: translateX(-200%);
        position: absolute;
        visibility: hidden;
        overflow: hidden;
    }
}
.mobileMenu {
    overflow: hidden;
    ul {
        padding: 0;
        margin: 1rem;
        display: flex;
        justify-content: space-between;
        list-style: none;
        overflow: hidden;
        .hamburger {
            font-size: 2rem;
            color: #808080;
            &.horizontal {
                transform: rotate(0deg);
                transition: 0.5s ease;
            }
            &.vertical {
                transform: rotate(90deg);
                transition: 0.5s ease;
                color: #f1f1f1;
            }
        }
        h1 {
            color: #f1f1f1;
            text-decoration: none;
            font-size: 1.5rem;
            overflow: hidden;
            &:hover{
                cursor: pointer;
                color: #808080;
                transition: 0.5s;
            }
        }
    }
}
.hamburgerMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100%;
    text-align: center;
    list-style: none;
    background-color: #373737;
    z-index: 9;
    li{
        background-color: transparent;
        z-index: 1;
        margin: 3rem auto;
    }
    a {
        margin: 0rem;
        font-family: sans-serif;
        font-weight: 400;
        color: #f1f1f1;
        text-decoration: none;
        background-color: transparent;
    }
    &.active {
        visibility: visible;
        transform: translateX(0px);
        transition: 1s ease;
        opacity: 1;
        overflow: hidden;

    }
    &.inactive {
        visibility: hidden;
        transform: translateX(-1600px);
        transition: 1s ease;
        opacity: 0.3;
    }
}
@media all and (min-width: 900px) {
    .mobileMenu, .hamburgerMenu {
        transform: translateX(-200%);
        position: absolute;
        overflow: hidden;
    }
}
.subhaMenu {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: #373737;
    text-align: center;
    li {
        background-color: transparent;
        margin: 3rem auto;
        list-style: none;
        padding: 0;
    }
    a {
        background-color: transparent;
        color: #f1f1f1;
        font-size: 2rem;
    }
    &.myMenuActive {
        visibility: visible;
        transform: translateY(0px);
        transition: 1s ease;
        opacity: 1;
        overflow: hidden;
    }
    &.myMenuInactive {
        visibility: hidden;
        transform: translateY(-1000px);
        transition: 1s ease;
        opacity: 0.3;
    }
}