.navBar {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin: 0 2rem;
    .logo {
        margin: 1rem;
        color: #f1f1f1;
    }
    .menuBar {
        margin: 1rem;
        a {
            margin: 0 0.5rem;
            color: #808080;
            text-decoration: none;
            &:hover {
                color: #f1f1f1;
                transition: all 0.5s;
            }
        }
    }
}
@media all and (max-width: 1200px) {
    .navBar {
        margin: 0 1rem;
    }
}



/*.navBar {
    height: 110px;
    width: auto;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 400;

    .logo {
        margin-left: 80px;
        margin-right: 50px;
        margin-top: 40px;
    }

    .menuBar {
        margin-right: 80px;
        margin-top: 40px;

        nav {
            a {
                color: #000;
                margin-right: 28px;
                text-decoration: none;
                
                &:hover {
                    color: #9d9d9d;
                    transition: 0.4s;
                }
            }
        }
    }
}
*/