//----------------Hero Section ------------------
* {
    font-family: poppins, sans-serif;
}
@mixin gridCenter {
    display: grid;
    place-items: center;
}
@mixin headlines {
    font-size: 4rem;
    color: #8b8b8b;
    padding: 0;
    text-align: center;
}
@mixin horizontalBar {
    margin: auto;
    border: 1px solid #393939;
}
.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s ease;
    transform: translateX(-100%);
}

@media(prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}
.show {
    opacity: 1;
    filter: blur(0);
    transition: all 1.5s ease;
    transform: translateX(0%);
}
.paraHidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s ease;
    transform: translateX(100%);
    visibility: hidden;
}
.paraShow {
    opacity: 1;
    filter: blur(0);
    transition: all 1.5s ease;
    transform: translateX(0%);
}
.hero {
    padding: 2rem;
    overflow: hidden;
    @include gridCenter();
    h1 {
        font-size: 10rem;
        margin: 0rem;
        line-height: 8rem;
        letter-spacing: -0.5rem;
        color: #8b8b8b;
        width: 90vw;
    }
    @media all and (max-width: 1200px) {
        h1 {
            font-size: 5rem;
            line-height: 5rem;
            letter-spacing: 0rem;
        }
    }
}
.about {
    @include gridCenter();
    p {
        margin-top: 2.5rem;
        color: #8b8b8b;
        font-size: 0.9rem;
        width: 30vw;
        text-align: right;
            &::before {
                content: " ABOUT - ";
                color: #cccccc;
            }
        a {
            color: #515151;
            &:hover {
                color: #c1c1c1;
                transition: 0.5s;
            }
        }
    }
    @media all and (max-width: 1200px) {
        p {
            width: 70vw;
        }
    }
}


//----------------Hero Section ------------------


.projects {
    margin: 5rem 2rem;
    overflow: hidden;
    h1 {
        @include headlines();
    }
    hr {
       @include horizontalBar();
    }
    .projectCard {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 1rem;
        margin-top: 3rem;
        img {
            width: auto;
            height: 45vh;
            margin: 1rem auto;
            box-shadow: 0px 0px 10px #686868;
            border-radius: 1rem;
            //filter: grayscale(100%);
            &:hover {
                transform: scale(1.05);
                transition: all 0.2s;
            }
        }
        @media screen and (max-width: 1200px) {
            img {
                width: 80vw;
                height: auto;
                margin-bottom: 3rem;
            }
        }
        h1 {
            color: #8b8b8b;
            font-size: 4rem;
            text-align: center;
        }
        p {
            width: 40vw;
            text-align: justify;
            padding: 1rem;
            margin: auto;
            color: #878787;
        }
        @media all and (max-width: 1200px) {
            p {
               width: 80vw;
            }
        }
    }
}
@media all and (max-width: 1200px) {
    .projectCard {
        flex-direction: column;
    }
}

// ----------------------- Projects -------------------- //

.services {
    margin: 5rem 2rem;
    h1 {
        @include headlines();
    }
    hr {
        @include horizontalBar();
    }
    .flexServices {
        display: flex;
        justify-content: space-between;
        margin: 1rem;
        margin-top: 3rem;
        h2 {
            font-size: 1rem;
            color: #8b8b8b;
            padding: 1rem;
            margin: 0 auto;
            text-align: justify;
            width: 90%;
        }
        .dropdown {
            width: 100%;
            h2 {
                font-size: 2rem;
                margin: 1rem;
                padding: 0;
            }
            ul {
                padding: 0;
            }
            li {
                list-style: none;
            }
            .menuTrigger {
                display: flex;
                justify-content: space-between;
                overflow: hidden;
                cursor: pointer;
                .downArrow {
                    margin-top: 30px;
                    margin-right: 12px;
                    transform: translateY(10px);
                    transition: 1s ease;
                    background-color: #bababa;
                    padding: 0.5rem;
                    border-radius: 20px;
                }
                .upArrow {
                    margin-top: 10px;
                    margin-right: 12px;
                    transform: translateY(0px);
                    transition: 1s ease;
                    background-color: #686868;
                    filter: blur(0.2rem);
                    padding: 0.5rem;
                    border-radius: 20px;
                }
                @media screen and (max-width: 676px) {
                    h2 {
                        font-size: 1.5rem;
                    }
                    .downArrow {
                        margin-top: 20px;
                    }
                    .upArrow{
                        margin-top: 5px;
                    }
                }
            }
            .dropdownMenu {
                &.active {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0px);
                    transition: 0.5s ease;
                }
                &.inactive {
                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(30px);
                    transition: 0.5s ease ;
                    margin-top: -70px;
                    margin-bottom: 20px;
                    padding: 0px;
                }
            }

            p {
                color: #878787;
                margin-top: 0.5rem;
            }
        }
    }
    @media all and (max-width: 1200px) {
            .flexServices {
                flex-direction: column;
            }
        }
}


/*// Global CSS
.flexUL {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0px;
        margin-left: 120px;
        margin-right: 120px;
}
@media only screen and (max-width: 1300px) {
    .flexUL {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }
}

.layout {
    margin-top: 184px;
    font-family: sans-serif;

    h1 {
        width: 586px;
        margin-left: 120px;
        padding: 0px;
        font-size: 45px;
        font-weight: 400;
        margin-bottom: 27px;
    }

    hr {
        margin-left: 115px;
        margin-right: 115px;
        border: 1px solid;
    }

    ul {

        li {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

a {
    color: #000;
}
//Global CSS ends here

.hero {
    ul {
        margin-top: 70px;

        li {
            h1 {
                margin: 1px;
                font-family: sans-serif;
                width: 800px;
                font-size: 4rem;
                font-weight: 350;
                color: #282828;
                word-spacing: 5px;
                position: absolute;
                margin-top: 50px;
            }
            @media only screen and (max-width: 1300px){
                h1 {
                    width: auto;
                    position: static;
                }
            }

            img {
                width: 606px;
                height: auto;
            }
            @media only screen and (max-width: 1300px) {
                img {
                    max-width: 100%;
                }
            }
        }
        @media only screen and (max-width: 1300px){
            li {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}


.projects {
    ul {
        li {
            h2 {
                margin-top: 102px;
                margin-bottom: 18px;
                font-family: sans-serif;
                font-weight: 400;
                font-size: 30px;
                padding: 0px 1px;
            }
            img {
                width: 370px;
                height: 558px;
                border-radius: 5px;
                padding: 0px 1px;
            }
        }
    }
    
}

.marketing {
    ul {
        li {
            h2 {
                width: 514px;
                margin-top: 86px;
                margin-bottom: 18px;
                margin-right: 90px;
                font-family: sans-serif;
                font-weight: 400;
                font-size: 25px;
                padding: 0px 1px;
            }
            @media only screen and (max-width: 1300px){
                h2 {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            img {
                width: 600px;
                height: 376px;
                border-radius: 5px;
                margin-top: 86px;
                padding: 0px 1px;
            }
            @media only screen and (max-width: 1300px) {
                img {
                    max-width: 100%;
                }
            }
        }
    }
    
}

.aboutMe {
    ul {
        li {
            h2 {
                width: 514px;
                margin-top: 86px;
                margin-bottom: 18px;
                margin-right: 90px;
                font-family: sans-serif;
                font-weight: 400;
                font-size: 25px;
                padding: 0px 1px;
            }
            @media only screen and (max-width: 1300px){
                h2 {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .menuTrigger {
                overflow: hidden;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
            }
            .dropdownMenu.active {
                opacity: 1;
                visibility: visible;
                transform: translateY(0px);
                transition: 0.5s ease;
              }
              
            .dropdownMenu.inactive {
                opacity: 0;
                visibility: hidden;
                transform: translateY(40px);
                transition: 0.5s ease ;
                margin-top: -70px;
                margin-bottom: 20px;
                padding: 0px;
            }

            .downArrow {
                margin-top: 20px;
                margin-right: 12px;
                transform: translateY(10px);
                transition: 1s ease;
            }
            .upArrow {
                margin-top: 10px;
                margin-right: 12px;
                transform: translateY(0px);
                transition: 1s ease;
            }

            .products {

                h2 {
                    font-size: 25px;
                    padding: 0;
                    margin: 0px;
                    margin-top: 86px;
                }

                ul {
                    list-style: none;
                    padding: 0px;

                    h2 {
                        margin-top: 14px;
                    }

                    hr {
                        width: auto;
                        margin: 0px;
                    }
                }
            }
            @media only screen and (max-width: 1300px){
                .products {
                    margin-left: 12px;
                    margin-right: 12px;
                }
            }
        }
    }
}

.marquee {
    width: 100%;
    padding-top: 3rem;

    div {
        display: flex;
        justify-content: space-between;
        width: 100%;

        span {
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }
}

.testimonials {

    .testi {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0px;
        margin: 164px 120px 0px 120px;

        .arrow {
            margin-top: 80px;
            cursor: pointer;

            &:hover {
                color: aqua;
                fill: #000;
            }
        }

        p {
            margin: 20px;
            width: 600px;
            font-size: 30px;
            text-align: center;
        }

        i {
            font-size: 20px;
            margin-bottom: 0px;
        }
    }

    @media only screen and (max-width: 1300px) {
        .testi {
            flex-wrap: nowrap;
            margin: 100px 20px 0px 20px;

            p {
                width: auto;
            }
        }
    }
  
}

.contactMe {
    ul {
        li {
            h2 {
                width: 514px;
                margin-top: 86px;
                margin-bottom: 18px;
                margin-right: 90px;
                font-family: sans-serif;
                font-weight: 400;
                font-size: 25px;
                padding: 0px 1px;
            }
            @media only screen and (max-width: 1300px){
                h2 {
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            ul {
                padding: 0;
                margin: 0;
                margin-top: 86px;
        
                li {
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    margin-bottom: 10px;
                }
        
                li.half {
                    width: 49%;
                    margin-left: 2%;
                    float: left;
        
                    &:first-child {
                        margin-left: 0px;
                    }
                }
            }
        
            input[type='text'],
            input[type='email'] {
                width: 100%;
                border: 0;
                background: #f5f5f5;
                border: 1px solid #000;
                height: 50px;
                font-size: 16px;
                padding: 0 20px;
                box-sizing: border-box;
            }
        
            textarea {
                width: 100%;
                border: 0;
                background: #f5f5f5;
                border: 1px solid #000;
                height: 50px;
                font-size: 16px;
                min-height: 150px;
                box-sizing: border-box;
            }
        
            .flat-button {
                color: #000;
                background: transparent;
                font-size: 13px;
                letter-spacing: 3px;
                text-decoration: none;
                padding: 8px 10px;
                border: 1px solid#000;
                float: left;
                border-radius: 4px;

                &:hover {
                    color: #f5f5f5;
                    background-color: #000;
                    cursor: pointer;
                    transition: 0.5s ease;
                }
            }
        }
        
        }
    }
*/