@font-face {
  font-family: 'Neue Haas Display Light';
  src: url('../src/Assets/Fonts/NeueHaasDisplayLight.ttf') format('ttf');
}

@font-face {
  font-family: 'Neue Haas Display Medium';
  src: url('../src/Assets/Fonts/NeueHaasDisplayMedium.ttf') format('ttf');
}

.App {
  background-color: #f5f5f5;
}